[submodule "flashandcharge_trackselect/larlite"]
	path = flashandcharge_trackselect/larlite
	url = https://github.com/larlight/larlite
[submodule "flashandcharge_trackselect/larlitecv"]
	path = flashandcharge_trackselect/larlitecv
	url = https://github.com/larbys/larlitecv
[submodule "flashandcharge_trackselect/LArCV"]
	path = flashandcharge_trackselect/LArCV
	url = https://github.com/larbys/larcv
[submodule "boundary_crossing_pts/larlitecv"]
	path = boundary_crossing_pts/larlitecv
	url = http://github.com/larbys/larlitecv
[submodule "boundary_crossing_pts/larlite"]
	path = boundary_crossing_pts/larlite
	url = http://github.com/larlight/larlite
[submodule "boundary_crossing_pts/LArCV"]
	path = boundary_crossing_pts/LArCV
	url = http://github.com/larbys/larcv
[submodule "boundary_crossing_pts/Geo2D"]
	path = boundary_crossing_pts/Geo2D
	url = http://github.com/LArbys/Geo2D
[submodule "boundary_crossing_pts/LArOpenCV"]
	path = boundary_crossing_pts/LArOpenCV
	url = http://github.com/NevisUB/LArOpenCV
[submodule "flashandcharge_trackselect/LArOpenCV"]
	path = flashandcharge_trackselect/LArOpenCV
	url = http://github.com/NevisUB/LArOpenCV
[submodule "flashandcharge_trackselect/Geo2D"]
	path = flashandcharge_trackselect/Geo2D
	url = http://github.com/LArbys/Geo2D
[submodule "v2/larlite"]
	path = v2/larlite
	url = http://github.com/larlight/larlite
[submodule "v2/Geo2D"]
	path = v2/Geo2D
	url = https://github.com/larbys/geo2d
[submodule "v2/LArCV"]
	path = v2/LArCV
	url = https://github.com/larbys/larcv
[submodule "v2/larlitecv"]
	path = v2/larlitecv
	url = https://github.com/larbys/larlitecv
[submodule "v2/LArOpenCV"]
	path = v2/LArOpenCV
	url = https://github.com/nevisub/laropencv
